* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Hanken Grotesk, Arial, sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    padding: 20px;
    height: 100vh;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  text-align: center;
  width: 350px;
}
header > h1{
  color: #F9F4DA;
  font-size: 1.25rem;
  margin-bottom: 0;
  font-weight: 500;
}
header > p{
  font-size: 0.875rem;
  color: #8E8E8E;
  max-width: 350px;
  margin-bottom: 0;
}

.status{
  text-align: center;
  padding: 8px 0px;
  border-radius: 5px;
  color: #F9F4DA;
  margin-top:20px;
  min-width: 350px;
  max-width: 350px;
  min-height: 61.09px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.status > p{
  margin:0;
  font-size: 1rem;
}
.status > h4{
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
}
.status.lost{
  background-color: #BA2A2A;
}
.status.won{
  background-color: #10A95B;
}
.status.farewell{
  background-color: #7A5EA7 ;
  border: 1px dashed black;
  font-style: italic;
  font-weight: 400;
}

section.languages-chips{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5px;
  margin-block: 36px;
  max-width: 300px;
}

span.chip{
  position: relative;
  padding: 4.5px;
  font-size: 0.75rem;
  border-radius: 3px;
  font-weight: 600;
}
span.chip.lost::before {
  content: "\1F480";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

section.word-box{
  display: flex;
  justify-content: center;
  gap:3px;
}
span.word{
  width:40px;
  height: 40px;
  background-color: #323232;
  color: #F9F4DA;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
}
span.lost{
  color: #BA2A2A;
}

section.keyboard{
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 480px;
  gap: 8px;
}

section.keyboard > button{
  width: 40px;
  height: 40px;
  border: 1px solid #D7D7D7;
  border-radius: 4px;
  font-size: 1rem;
  color: #1E1E1E;
  background-color: #FCBA29;
  cursor: pointer;
}
section.keyboard > button.correct {
    background-color: #10A95B;
}

section.keyboard > button.wrong {
    background-color: #EC5D49;
}
section.keyboard > button:disabled {
    cursor: not-allowed;
    opacity: 0.5
}

button.new-game {
    background-color: #11B5E5;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    width: 225px;
    height: 40px;
    padding: 6px 12px;
    display: block;
    margin-inline: auto;
    cursor: pointer;
    margin-top: 36px;
}

